.project-list {
	width: 75%;
	margin: auto auto;
	justify-content: space-between;
	padding: 5rem 0rem 5rem 5rem;
	z-index: 1;
	position: relative;
}

.project {
	background-color: #1e1e1e;
	width: 43%;
	height: 400px;
	margin-bottom: 30px;
	display: inline-block;
	margin-right: 30px;
	margin-left: 30px;
	cursor: pointer;
}

.project img {
	width: 82%;
	height: 63%;
	display: block;
	margin: auto auto;
	margin-top: 4.5rem;
	margin-bottom: 6rem;
	box-shadow: 6px 9px 5px 0px rgba(25, 25, 25, 1);
	/* width: 50%; */
}
span {
	display: inline-block;
}
.project-name {
	color: var(--themeTextColor);

	font-size: 19px;
}

.feat {
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
	width: 93%;
	margin: auto auto;
	padding-right: 20px;
}

.feat button {
	margin-top: 0px;
	margin-bottom: 10px;
}

.feat h3 {
	letter-spacing: 3px;
	font-size: 27px;
}
