*{
  margin: 0px;
  padding: 0px; 
  
}
.App {
  background-color: #111111;
  color: ghostwhite;
  position: relative;
}

button {
	color: ghostwhite;
      border: none;
      outline: none;
      margin-top: 20px;
      font-size: var(--buttonFontSize);
      letter-spacing: 1.5px;
      padding:var(--buttonPadding);
	background: var(--buttonBg);
	background: linear-gradient(
		100deg,
		var(--buttonBg)36%,
		var(--buttonGradient)100%
	);

}
 .back-color{
   background-color: var(--secColor);
   width: 100%;
   height: 500px;
   z-index: 0.9;
   position: absolute;
   bottom:4%;
 }

 .text{
   margin-top: 200px;
   
 }