:root{
  --themeTextColor : #e73e3e;
  --buttonBg: #9e101a;
  --buttonGradient:rgba(196,26,38,1);
  --buttonPadding:0.9rem 2.3rem;
  --buttonFontSize:12.3px;
  --secColor: #181818;
  --divBgColor: #1E1E1E
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111111;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
